@tailwind base;
@tailwind components;
@tailwind utilities;


/* Blinking cursor animation for the terminal */
.cursor-blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f4f4f5; /* A light gray, adjust as needed */
  }
}